body{
	background:#000;
	color:#fff;
}
.logo {
    display: table;
    text-align: center;
    height: 100%;
    width: 100%;
}
.logo-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
h1{
	font-family: broadway;
}